.task{
  display: flex;
  align-items: center;
  justify-content: center;

}
/*TODO: 每一个小todo */
.task-group {
  display: flex;
  align-items: center;
  justify-content:space-between;

  margin-top:18px;
  
  height: 50px;

  width: 204px;

  border-radius: 3px;

  border:2px solid white;
}
/* TODO:todo左侧的多选按钮 */
.task-group .checkbox{ 

  height: 15px;
  width: 18px;
  margin: 0 6px ;
}
/* */
.butn{
  margin-right: 10px;
}
/* TODO:编辑功能样式*/
.task-group .pencil{
  display: inline-block;
  border:1px solid #7177e7;

}

 input:checked ~ .checkbox {
  border-color: transparent;
  background: #6871f1;
  animation: jelly 0.6s ease;
 }
 
@keyframes jelly {
  from {
   transform: scale(1, 1);
  }
 
  30% {
   transform: scale(1.25, 0.75);
  }
 
  40% {
   transform: scale(0.75, 1.25);
  }
 
  50% {
   transform: scale(1.15, 0.85);
  }
 
  65% {
   transform: scale(0.95, 1.05);
  }
 
  75% {
   transform: scale(1.05, 0.95);
  }
 
  to {
   transform: scale(1, 1);
  }
 }
 
 .hidden-xs-up {
  display: none!important;
 }
 


.task-group .trash{
  display: inline-block;
  background-color: #e95742;
}

.task-group label{
  padding:0px 5px ;
}