.editFrom{
 display: flex;
 justify-content :center;
}
input{
  height: 32px;

  font-size: 14px;

  border-radius: 3px;

  font-family:  Helvetica, Arial, sans-serif;

  outline:none;

  border: 1px solid white;
}
.input:focus{
  outline:3px #535bf2 solid;
}
.btn{
  width: 32px;
  height: 32px;
  padding: 5px 8.5px;
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  justify-self: center;
  align-items:center;
  border: 1px solid transparent;
  color: white;
  border-radius: 3px;
  background-color: #535bf2;;
}
